@model IEnumerable<Pay_Roll_Management.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllocatedLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofJoining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameofManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </th>
        
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocatedLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofJoining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameofManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeAddress)
            </td>
        

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })||
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })||*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you want to delete?')" })


            </td>
        </tr>
    }

</table>








